body {
  background-color: black
}

h1 {
  color: rgb(161, 161, 224);
  margin-left: 20px;
  text-align: center
}
p  {
  color: aqua;
}
h3 {
  color: aqua;
}


ul {
  color: aqua;
}

p1 {
  color: aqua
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}